<!-- projects page that is also linked to the base.html-->
{% extends "base.html" %}
{% block content %}
<h1>Projects</h1>

<h3>Module 1: Personal Website</h3>                                                   <!-- module 1 assignment title-->
<p>
  A Flask website with multiple pages, a navigation bar,   <!-- little summary of assignment and what was done -->
  and styling using CSS.
</p>

<p>
  GitHub link:
  <a href="https://github.com/maya-saleh/jhu_software_concepts/tree/main/module_1" target="_blank">         <!-- link to github -->
    Module 1 Repository Folder
  </a>
</p>
{% endblock %}

<!-- this page is scalable and will be updated as the course continues -->